<tr class='event-<%= event.id %>'>
  <td /> <%= event.time.strftime("%I:%M%p") %>
  <td /> <%= event.name %>
  <td /> <%= event.remarks %>
  <td /> <%= event.category %>
  <td /> <input class='checkbox' type="checkbox" check-id="<%= event.id %>" checked="<%= event.completed %>">
  <td>
    <span class="glyphicon glyphicon-pencil"></span>
  </td>
  <td>
    <%# link_to answer_path(ans),
                method: :delete,
                remote: true,
                data: { confirm: 'are you sure?' },
                class: "pull-right" do %>
      <span class="glyphicon glyphicon-trash remove-icon"></span>
  </td>
</tr>
