<tr class='event-<%= event.id %>'>
  <td /> <%= event.time.strftime("%I:%M%p") %>
  <td /> <%= event.name %>
  <td /> <%= event.remarks %>
  <td /> <%= event.category %>
  <td /> <input class='checkbox' type="checkbox" check-id="<%= event.id %>" checked="<%= event.completed %>">
  <td>
    <%= link_to edit_event_path(event.id) do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  </td>
  <td>
    <%= link_to event_path(event),
                method: :delete,
                data: { confirm: 'are you sure?' },
                class: "pull-right" do %>
      <span class="glyphicon glyphicon-trash remove-icon"></span>
      <% end  %>
  </td>
</tr>
