<div class='calendar'>
  <div class='schedule-full'>
    <div class='schedule-detail'>
      <h2> Week of <%= @date %> </h2>
      <div class="row">
        <div class="input-group date col-6 offset-3" data-provide="datepicker">
          <input type="text" class="form-control datepicker" value="<%= @date %>" readonly="true">
          <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
      </div>
      <br>
      <p /> weekstart : <%= @weekStart %>
      <p /> weekend : <%= @weekEnd %>
      <% @events.each do |event| %>
        <p /><%= event.name %>
      <% end %>
      <hr>
      WIP, not done yet
      <table class = 'table table-bordered table-hover'>
        <tr>
          <th />
          <th /> Mon
          <th /> Tue
          <th /> Wed
          <th /> Thu
          <th /> Fri
          <th /> Sat
          <th /> Sun
        </tr>
        <tr>
          <td> Med 1
          <td> <input type="checkbox">
          <td>
          <td> <input type="checkbox">
          <td> <input type="checkbox">
          <td>
          <td>
          <td> <input type="checkbox">
        </tr>
      </table>
    </div>
  </div>
</div>

<%= render "/events/form",{date:cookies[:date],event:Event.new,task:'New Task',modal_name:"new-modal"}%>

<%= render "filter_modal" %>
<div id = "edit-event">
</div>
