<br>
<div class='calendar'>
  <div class=' btn-group-justified btn-group-lg redirect-buttons'>
    <div class="btn-group">
      <%= link_to 'Daily',calendar_show_path,class:"btn btn-block btn-primary",method:"get"%>
    </div>
    <div class="btn-group">
      <%= link_to '3 Days',calendar_3days_show_path,class:"btn btn-block btn-primary",method:"get"%>
    </div>
    <div class="btn-group">
      <%= link_to 'Weekly',calendar_week_show_path,class:"btn btn-block btn-primary",method:"get"%>
    </div>
    <div class="btn-group">
      <%= link_to 'Monthly',calendar_month_show_path,class:"btn btn-block btn-success",method:"get"%>
    </div>
  </div>
  <br>
  <div class='date-info'>
    <div  id='calendar'>
    </div>
    <div class=container>
      <div class="input-group date col-sm-8-offset-4" data-provide="datepicker">
        <input type="text" class="form-control datepicker" value="<%= @date %>" readonly="true">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
      </div>
      <br>
    </div>
  </div>
  <hr>
  <div class='schedule-full'>
    <div class='schedule-detail'>

      <h1 /> WIP
    </div>
  </div>
</div>
