<div class=' btn-group-justified btn-group-lg redirect-buttons'>
  <div class="btn-group">
    <%= link_to 'Daily',calendar_show_path,class:"btn btn-block btn-primary",method:"get"%>
  </div>
  <div class="btn-group">
    <%= link_to '3 Days',calendar_3days_show_path,class:"btn btn-block btn-success",method:"get"%>
  </div>
  <div class="btn-group">
    <%= link_to 'Weekly',calendar_week_show_path,class:"btn btn-block btn-primary",method:"get"%>
  </div>
  <div class="btn-group">
    <%= link_to 'Monthly',calendar_month_show_path,class:"btn btn-block btn-primary",method:"get"%>
  </div>
</div>
<br>
<div class='schedule-full'>
  <div class='schedule-detail'>
    <div class="input-group date col-sm-8-offset-4" data-provide="datepicker">
      <input type="text" class="form-control datepicker" value="<%= @date %>" readonly="true">
      <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
      </div>
    </div>
    <br>
    <div class=' btn-group-justified btn-group-lg redirect-buttons'>
      <div class="btn-group">
        <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#new-modal">
          Add
        </button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#filter">
          Filter
        </button>
      </div>
    </div>
    <br>
  </div>
</div>
<%= render '/events/legend' %>
<hr>
<div class='container-fluid'>
    <div class='row-fluid align-items-center'>
      <div class="schedule">
        <div class='schedule-detail col-sm-12 col-md-4  col-lg-4'>
          <%= render '/calendar/simple_schedule',
            {events:@yesterday[:events],date:@yesterday[:date]} %>
        </div>
        <div class='schedule-detail col-sm-12 col-md-4  col-lg-4'>
          <%= render '/calendar/simple_schedule',
            {events:@today[:events],date:@today[:date]} %>
        </div>
        <div class='schedule-detail col-sm-12 col-md-4  col-lg-4'>
          <%= render '/calendar/simple_schedule',
            {events:@tomorrow[:events],date:@tomorrow[:date]} %>
        </div>
      </div>
    </div>
</div>
<%= render "/events/form",{date:cookies[:date],event:Event.new,task:'New Task',modal_name:"new-modal"}%>

<%= render "filter_modal" %>
