<!-- Modal -->
<div class="modal fade" id="<%= modal_name %>" tabindex="-1" role="dialog" aria-labelledby="my-Model-Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title" id="my-Modal-Label"><%= title %></span>
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= @task.errors.full_messages.join(', ') %>
          <%= form_for task do |f| %>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name , class: "form-control" %>
              <%= f.label :day %>
              <%= f.select :day, current_user.get_duration ,{:selected=>0}, class: "form-control" %>
              <%= f.label :time %>
              <%= f.time_field :time,class: "form-control  bootstrap-timepicker timepicker"%>
              <%= f.label :category %>
              <%= f.collection_select(
              :category, Category.all, :name, :name, {},
              class: "form-control"
            ) %>
              <%= f.label :remark %>
              <%= f.text_area :remark, class: "form-control" %>

            </div>
      </div>
      <div class="modal-footer">

          <%= f.submit class: "btn btn-success" %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <% end %>
     </div>
    </div>
  </div>
</div>
