<!-- Modal -->
<div class="modal fade" id="<%= modal_name %>" tabindex="-1" role="dialog" aria-labelledby="my-Model-Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="my-Modal-Label"><%= title %></h2>
        <ul class='error-message form-error'>
        </ul>
      </div>
      <div class="modal-body">
        <%= form_for task,remote:true do |f| %>
            <div class="form-group">
              <%= f.label :name,"Name*" %>
              <%= f.text_field :name , class: "form-control" %>
              <%= f.label :priority,"Important", class: "checkbox" do%>
                <%= f.check_box :priority%>Important
              <% end %>
              <%= f.label :day %>
              <%= f.select :day, current_user.get_duration ,{:selected=>task.day}, class: "form-control" %>
              <%= f.label :time %>
              <%= f.time_field :time,class: "form-control timepicker"%>
              <%= f.label :category %>
              <%= f.collection_select(
              :category, Category.all, :name, :name, {},
              class: "form-control"
            ) %>
              <%= f.label :remark %>
              <%= f.text_area :remark, class: "form-control" %>

            </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <%= f.submit class: "btn btn-success" %>
          <% end %>
     </div>
    </div>
  </div>
</div>
