<!-- Modal -->
<div class="modal fade" id="my-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= @task.errors.full_messages.join(', ') %>
        <div class="col-xs-12">
          <%= form_for [@schedule, @task] do |f| %>
          <%# adding the `remote: true` option makes the form submit with jQuery
              using the jquery_ujs library inlucded in the manifest file by
              default and it will prevent default submission for the form as well
              so it's going to use preventDefault() under the hood %>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name , class: "form-control" %>
              <%= f.label :day %>
              <%= f.number_field :day, in:[1..20] , class: "form-control" %>
              <%= f.label :everyday%>
              <%= f.check_box :everyday%>
              <br>
              <%= f.label :time %>
              <%= f.time_field :time, class: "form-control  time-picker"  %>
              <%= f.label :category %>
              <%= f.collection_select(
              :category, Category.all, :name, :name, {},
              class: "form-control"
            ) %>
              <%= f.label :remark %>
              <%= f.text_area :remark, class: "form-control" %>
              <%= f.submit class: "btn btn-success" %>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <% end %>
            </div>
          <hr/>
        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
