<tr id='task-<%= task.id %>' class='<%= task.get_category %>'>
  <td class='day-col'/> Day <%= task.day %>
  <td class="med-<%= task.get_color %> time-col" day="<%= task.day %>"/> <%= task.time.strftime("%I:%M%p") %>
  <td class="<%= "priority" if task.priority %>"/> <%= task.name %>
  <td /> <%= task.remark %>
  <td /> <%= task.category %>
  <td>
    <%= link_to edit_task_path(task.id),remote:true do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  </td>
  <td>
    <%= link_to task_path(task),
                remote:true,
                method: :delete,
                data: { confirm: 'are you sure?' },
                class: "pull-right" do %>
      <span class="glyphicon glyphicon-trash remove-icon"></span>
    <% end %>
  </td>
</tr>
