<div class='top-layer'>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <h1>Update User Profile</h1>
      <%= current_user.errors.full_messages.join(', ') %>
      <%= form_for current_user , :url => user_password_path, :method => :post do |f| %>
        <div>
          <%= f.label :password_old %>
          <%= f.password_field :password_old%>
        </div>
        <div>
          <%= f.label :password_new %>
          <%= f.password_field :password_new%>
        </div>
        <div>
          <%= f.label :password_new_confirmation %>
          <%= f.password_field :password_new_confirmation%>
        </div>
        <div>
          <%= f.submit "Submit",{class:'btn btn-md btn-success'} %>
          <%= link_to "Cancel", "#", {:class=>"btn btn-danger"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
