<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <h1>Update User Profile</h1>
    <%= @user.errors.full_messages.join(', ') %>
    <%= simple_form_for @user , :url => user_edit_path, :method => :post do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.submit "Submit",{class:'btn btn-md btn-success'} %>
      <%= link_to "Cancel", :back, {:class=>"btn btn-danger"} %>
    <% end %>
  </div>
</div>
