<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <h1>Sign Up</h1>
    <%= @user.errors.full_messages.join(', ') %>
    <%= simple_form_for @user do |f| %>
      <%= f.input :uid %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.submit "Sign Up" ,{class:'btn btn-md btn-success'}%>
    <% end %>
  </div>
</div>
