<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <h1>Sign Up</h1>
    <% @user.errors.full_messages.each do |error|%>
        <ul>
          <li class='form-error'><%= error %></li>
        </ul>
    <% end %>

    <%= form_for @user , :url => users_path, :method => :post do |f| %>
      <div class="form-group">
        <%= f.label :uid,"User ID*" %>
        <%= f.text_field :uid, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
      <div class="form-group">
      <%= f.label :last_name %>
        <%= f.text_field :last_name , class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :email,"Email*" %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= link_to "Cancel", root_path, {:class=>"btn btn-danger"} %>
        <%= f.submit "Sign Up" ,{class:'btn btn-md btn-success'}%>
      </div>
    <% end %>
    <h4>By signing up, you agreed that all information you entered will
      be stored on Heroku Database and all connection has encrypted
      through SSL (provided by Heroku),the developers are not respondible
      for any information leak</h4>
  </div>
</div>
