<h1> My Info: </h1>
<br>
<p />User Name: <%= @user.name %>
<p />User ID: <%= @user.uid %>
<p />User Email: <%= @user.email %>
<hr>
<p /> <%= link_to 'Update Info', :user_edit %>
<hr>
<p /> <%= link_to 'Update Password', :user_password, remote:true %>
<hr>
<p /> Delete account
