<h1> My Info: </h1>
<br>
<p />User Name: <%= @user.name %>
<p />User ID: <%= @user.uid %>
<p />User Email: <%= @user.email %>
<hr>
<%# link_to  "Sign In With Google",sign_in_with_google_path,  class:"btn btn-primary"%>
<%= link_to  "Sign In With Google",'#',  class:"btn btn-primary"%>
<br>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeInfo">
  Update Info
</button>
<br>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePassword">
  Change Password
</button>
<hr>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#account-warning">
  Delete Account
</button>

<!-- Button trigger modal -->

<%= render "update_password" %>
<%= render "edit" %>
<%= render 'account_warning' %>
