<h1> My Info: </h1>
<br>
<p />User Name: <%= @user.name %>
<p />User ID: <%= @user.uid %>
<p />User Email: <%= @user.email %>
<hr>
<% if current_user.provider.nil? %>
  <%= link_to  "Sign In With Google","#{ENV["DOMAIN"]}/auth/google",  class:"btn btn-primary"%>
<%else %>
  <span class='btn btn-success'>Already Signed in with Google</span>
<% end %>
<br>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeInfo">
  Update Info
</button>
<br>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePassword">
  Change Password
</button>
<hr>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#account-warning">
  Delete Account
</button>

<!-- Button trigger modal -->

<%= render "update_password" %>
<%= render "edit" %>
<%= render 'account_warning' %>
