<h1> My Info: </h1>
<br>
<p />User Name: <%= @user.name %>
<p />User ID: <%= @user.uid %>
<p />User Email: <%= @user.email %>
<hr>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeInfo">
  Update Info
</button>
<hr>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePassword">
  Change Password
</button>
<hr>
<p /> Delete account


<!-- Button trigger modal -->

<%= render "update_password" %>
<%= render "edit" %>
