<h1> My Scheule </h1>

<h3> Schedule Details </h3>
<p /> Cycle Duration: <span id='schedule-duration'><%= @schedule.duration %> Day(s)</span>
<br>
<button class=" btn btn-sm btn-primary" data-toggle="modal" data-target="#update-schedule">
  Update
</button>
<%= link_to 'Clear',
            schedule_clear_path,
            remote:true,
            method: :get,
            data: { confirm: 'are you sure?' },
            class:"btn btn-sm btn-primary" %>
<hr>
<div class='row-fluid tasks'>
  <table id='userList' class = 'table table-bordered table-hover col-12 col-sm-4-offset-2'>
    <tr>
      <th /> Name
      <th /> Day
      <th /> Time
      <th /> Remark
      <th /> Category
      <th /> Edit
      <th /> Remove
    </tr>
    <% @schedule.tasks.order(day: :asc,priority: :desc,time: :asc).each do |task| %>
      <%= render('/tasks/task',{task:task}) %>
    <% end %>
  </table>
  <br>
  <button type="button" class="btn-lg btn-primary" data-toggle="modal" data-target="#new-modal">
  NEW
</button>
  <%= render '/tasks/form',{title:"New Task",task:Task.new,modal_name:"new-modal"} %>
  <%= render '/schedules/edit' %>
</div>
<div id = "edit-task">
</div>
