<div class="main-form">
  <%= form_tag forget_psasword_path,method: :post,remote:true  do |f|  %>
    <div class="form-group">
      <%= label_tag :uid,"User ID"%>
      <%= text_field_tag :uid, nil, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :email,"Email"%>
      <%= text_field_tag :email, nil, class: "form-control" %>
    </div>

    <%= submit_tag 'submit request', class: "btn btn-success" %>
  <% end %>
</div>
