
<% week = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"] %>

<tr class="<%= array[:category] %>">
  <td class=<%= priority ? "priority" : "" %>> <%= key %>
  <% week.each do |weekday| %>
  <td>
    <% if array.include?(weekday)%>
    <!-- <input type="checkbox"
    id="checkbox-<%= (array[weekday][:id]) %>"
    disabled="true"
    <%= (array[weekday][:completed])?"checked='true'":"" %>
    > -->
      <span class="glyphicon glyphicon-ok"></span>
    <% end %>
  <% end %>
</tr>
