<!DOCTYPE html>
<html>
  <head>
    <title>Caren</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="box">
        <!-- top nav -->
        <!-- <nav class="navbar navbar-inverse navbar-static-top" role="navigation"> -->
        <div class="navbar navbar-inverse navbar-static-top">
          <span class='date-display'><%= Date.today.strftime("%A, %B %d, %Y") %> </span>
          <div class="navbar-header pull-left">
            <a class="navbar-brand logo" rel="home" href="<%= root_path %>" title="Caren: Caring for People">
              Caren
            </a>
          </div>
          <div class="navbar-header pull-right">
            <div class='menu-item'>
              <% if user_signed_in? %>
                <div class="navbar-item navbar-text nav-title"> <%= current_user.name %></div>
                <%= link_to 'Settings', user_show_path ,class:'navbar-item navbar-btn'%>
                <%= link_to 'Sign out',
                  sessions_path,
                  method: :delete,
                  class:'navbar-item navbar-btn'
                  %>
              <% else %>
                <%= link_to 'Sign Up', new_user_path ,class:'navbar-item navbar-btn'%>
                <%= link_to 'Sign In', new_session_path ,class:'navbar-item navbar-btn'%>
              <% end %>
            </div>
          </div>
        </div>
        <!-- /top nav -->
        <div class="row row-offcanvas row-offcanvas-left">
          <!-- sidebar -->
          <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
          	<ul class="nav">
      			   <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
        	  </ul>
            <ul class="nav hidden-xs" id="lg-menu">
              <li class='navbar-item'><%= link_to 'Home',root_path %></li>
              <% if user_signed_in? %>
                <li class='navbar-item'><%= link_to 'My Calendar',calendar_path	 %></li>
                <li class='navbar-item'><%= link_to 'My Cycle',schedule_show_path	 %></li>
                <li class='navbar-item'><%= link_to 'My Diary',diaries_path	 %></li>
                <li class='navbar-item'><%= link_to 'My Information', info_path %></li>
              <% end %>
              <li class='navbar-item'><%= link_to 'About',about_path %></li>
            </ul>
            <ul class="list-unstyled hidden-xs" id="sidebar-footer">
            </ul>
          	<!-- tiny only nav-->
            <ul class="nav visible-xs" id="xs-menu">
              	<!-- <li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
                <li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
              	<li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
                <li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li> -->
            </ul>
          </div>
            <!-- /sidebar -->
          <div class="column col-sm-10 col-xs-11" id="main">
              <div class="padding">
                <div class="full col-sm-9">
                  <div class="body container-fluid">
                    <div id='notice_banner'><%= render "/layouts/flash" %></div>
                    <%= yield %>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <div class="panel-footer footer navbar-fixed-bottom">
      <span class='foot-span'>Caren: Caring for people</span>
    </div>
  </footer>
</html>
