<!DOCTYPE html>
<html>
  <head>
    <title>Caren</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand logo" rel="home" href="<%= root_path %>" title="Caren: Caring for People">
          Caren
        </a>
        <button
          type="button"
          class="pull-left navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#caren-navbar">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        </button>
      </div>

        <div class="navbar-collapse collapse" id="caren-navbar">
          <ul class="nav navbar-nav justify-content-center">
            <li class='navbar-item'><%= link_to 'Home',root_path %></li>
            <% if user_signed_in? %>
              <li class='navbar-item'><%= link_to 'Calendar',calendar_path	 %></li>
              <li class='navbar-item'><%= link_to 'Schedule',schedule_show_path	 %></li>
              <li class='navbar-item'><%= link_to 'Settings', user_show_path %></li>
            <% end %>
            <li class='navbar-item'><%= link_to 'About',about_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><p class="navbar-text">User: <%= current_user.name %></p></li>
              <li class='navbar-item'>
                <%= link_to 'Sign out',
                  sessions_path,
                  method: :delete
                  %>
                </li>
            <% else %>
              <li><%= link_to 'Sign Up', new_user_path %></li>
              <li><%= link_to 'Sign In', new_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="body container-fluid">
    <div id='notice_banner'><%= render "/layouts/flash" %></div>
    <%= yield %>
    <a href="javascript:" id="return-to-top"><i class="glyphicon glyphicon-chevron-up"></i></a>
  </div>

  </body>

  <footer>
    <div class="panel-footer footer navbar-fixed-bottom">
      <span class='foot-span'>Caren: Caring for people</span>
    </div>
  </footer>

</html>
